<p id="notice"><%= notice %></p>
<ul>
<li><%= link_to "Add Product", new_product_path(@business) %></li>
</ul>
<p>
  <b>User:</b>
  <%= @business.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
  <b>Description:</b>
  <%= @business.description %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
