<%= form_for([@business, @appointment_type]) do |f| %>
  <% if @appointment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment_type.errors.count, "error") %> prohibited this appointment_type from being saved:</h2>

      <ul>
      <% @appointment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :business_id %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %> min.
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
