<%= form_for ([@business, @appointment_slot]) do |f| %>
  <% if @appointment_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment_slot.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @appointment_slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

    <%= f.hidden_field :business_id %>
  <div class="field">
    <%= f.label :start_at %><br />
    <%= f.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= f.label :appointment_type %><br />
    <%= f.collection_select :appointment_type_id, @business.appointment_types.all, :id, :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
