<h1>Listing Event Types</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Title</th>
    <th>Duration</th>
    <th></th>
    <th></th>
  </tr>

<% @event_types.each do |event_type| %>
  <tr>
    <td><%= event_type.title %></td>
    <td><%= event_type.business_id %></td>
    <td><%= event_type.duration %></td>
    <td><%= link_to 'Show', business_event_type_path(@business, event_type) %></td>
    <td><%= link_to 'Edit', edit_business_event_type_path(@business, event_type) %></td>
    <td><%= link_to 'Destroy', business_event_type_path(@business, event_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event Type', new_business_event_type_path %>
<%= link_to 'Back', :back %>