<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @appointment.user_id %>
</p>

<p>
  <b>Appointment time:</b>
  <%= @appointment.appointment_time %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
