<!DOCTYPE html>
<html>
<head>
  <title>Appointer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
	<ul>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <li>Things to do: Validations for all models</li>
	</ul>
    <% end %>
<%= yield %>

</body>
</html>
