<!DOCTYPE html>
<html>
<head>
  <title>Appointer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
	<ul>
      <li><%= link_to "Appointments", appointments_path %>
      <li><%= link_to "New Appointment", new_appointment_path %></li>
	</ul>

<%= yield %>

</body>
</html>
